body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

.comments-section {
    max-width: 800px;
    margin: 25px auto;
    padding: 0; /* Padding 제거 */
}

.comments-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.comment {
    border: none; /*_border 제거*/
    padding: 10px;
    margin-bottom: 0; /*_MARGIN 없애서 붙어 보이게*/
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc; /* 각 댓글 사이에만 경계선 추가 */
}

.comment-header {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; /* 옅은 회색 */
    margin-right: 10px;
    background-size: cover; /* 배경 이미지 비율에 맞게 조정 */
    background-position: center; /* 이미지 중심으로 배치 */
}

.nickname {
    font-weight: bold;
}

.comment-body {
    margin: 10px 0;
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-time {
    font-size: 12px;            /* 글씨 크기를 작게 설정 */
    color: #aaa;                /* 옅은 회색으로 설정 */
    font-weight: normal;        /* 굵은 글씨 없애기 */
}

.likes {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 3px 10px;            /* 패딩 */
    border-radius: 2px;           /* 모서리 둥글게 */
    cursor: pointer;
    margin-top: 5px;
}

.reply-button {
    background-color: transparent; /* 배경색 없음 */
    color: black;                  /* 글자 색상: 검정색 */
    border: 1px solid #ccc;        /* 옅은 회색 테두리 */
    padding: 3px 10px;            /* 패딩 */
    border-radius: 2px;           /* 모서리 둥글게 */
    cursor: pointer;               /* 커서 모양 변경 */
    align-self: flex-start;        /* 버튼을 가장 왼쪽에 위치시키기 */
    margin-top: 10px;
    margin-bottom: 4px;
}

.comment-input {
    display: flex;
    align-items: center;
    justify-content: center; /* Centering the textarea */
    margin-top: 20px;
}

.comment-input textarea {
    width: 50%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    resize: none; /* 크기 조절 기능 비활성화 */
    outline: none; /* 포커스 시 테두리 색상 비활성화 */
    overflow: hidden; /* 스크롤바 완전히 숨기기 */
}

.comment-input button {
    background-color: transparent;  /* No background */
    color: black;                   /* Text color */
    border: none;                   /* No border */
    cursor: pointer;
    padding: 10px;                 /* Padding for the button */
}

.edit-button {
    color: black;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    border-radius: 2px;
}

.delete-button {
    color: #800020;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    border-radius: 2px;
}

.reply::before {
    content: "↳";
    position: relative;
    left: 5px;
    color: black;
}

.reply-form-input {
    display: none;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.reply-form-input.active {
    display: flex; /* active 클래스가 있을 때 display: flex; 적용 */
}

.reply-form-input textarea {
    width: 50%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    resize: none; /* 크기 조절 기능 비활성화 */
    outline: none; /* 포커스 시 테두리 색상 비활성화 */
}

.reply-form-input .reply-buttons {
    display: flex;           /* 버튼들을 가로로 정렬 */
    align-items: center;      /* 버튼들을 세로 중앙 정렬 */
    margin-bottom: 5px;
}

.reply-form-input .reply-buttons button {
    margin-left: 5px; /* 버튼 사이 간격 */
}

.reply-header {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-left: 4px;
}

.reply-body {
    margin: 10px 0;
    margin-left: 4px;
}

.reply-time {
    font-size: 12px;            /* 글씨 크기를 작게 설정 */
    color: #aaa;                /* 옅은 회색으로 설정 */
    font-weight: normal;        /* 굵은 글씨 없애기 */
    margin-left: 4px;
}

.submit-reply-button {
    color: black;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    border-radius: 2px;
}

.cancel-reply-button {
    color: #800020;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    border-radius: 2px;
}

.edit-form {
    display: none; /* 기본적으로 숨김 */
}

.edit-form.active {
    display: block; /* active 클래스가 있을 때 보이도록 설정 */
}