<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/map.css">

    <title>여행 지도</title>
</head>
<body>
<header th:replace="~{layout/header}"></header>

<h2>관광지 검색 지도</h2>
<div class="search-area">
    <input type="text" id="searchKeyword" placeholder="지역명을 입력하세요" />
</div>

<div class="category-buttons">
    <button class="category-btn" data-type="12">관광지
        <span class="check-icon">✔</span>
    </button>
    <button class="category-btn" data-type="14">문화시설
        <span class="check-icon">✔</span>
    </button>
    <button class="category-btn" data-type="15">축제
        <span class="check-icon">✔</span>
    </button>
    <button class="category-btn" data-type="28">레포츠
        <span class="check-icon">✔</span>
    </button>
    <button class="category-btn" data-type="32">숙박
        <span class="check-icon">✔</span>
    </button>
    <button class="category-btn" data-type="38">쇼핑
        <span class="check-icon">✔</span>
    </button>
    <button class="category-btn" data-type="39">음식점
        <span class="check-icon">✔</span>
    </button>
</div>

<div id="map"></div>

<div class="modal fade" id="attractionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">🍀 관광지 상세정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- JS -->
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{layout/footer}"></footer>

<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=a166f024ff1aa12ece8b74b52adde20d&libraries=services"></script>
<script src="/js/map.js"></script>

<!-- 로딩 스피너 (처음에는 숨김 처리) -->
<div id="loadingSpinner" style="display: none;">
    <div class="spinner-container">
        <div class="spinner"></div>
        <p>불러오는 중...</p>
    </div>
</div>

</body>
</html>
